#ig_logo{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}


body{
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
}
#navigation_bar{
      
    
        height: 100%;
        flex: 0.2;
        border-right: 1px solid white;
        padding-left: 10px;
        padding-right: 8px;
        
    }

    ul{
        list-style: none;
        padding: 0;
    }
    
    li:hover{
        background-color: rgb(255, 255, 255, 0.08);
    }

    li{
        display: flex;
        gap: 10px;
        padding: 10px;
        padding-left: 4px;
        border-radius: 4px;
        align-items: center;
        

    }

#main_page{
    
    
    height: 100%;
    flex: 0.8;
    overflow-y: auto;
    height: 100%;
}

#profile_pic{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#more{
    position: absolute;
    bottom: 0px;
}

#main_page{
    height: 100%;
    flex: 0.8;
    display: flex;
}

.posts{
    flex: 0.8;
    padding: 70px;
    padding-top: 10px;
}

.post_head{
    display: flex;
    justify-content: space-between;
}

.post{
    
    
    width: 450px;
}
.post_profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.left{
    display: flex;
    gap: 10px;
}


.icon_button{
    background-color: transparent;
    border: none;
}

.icon_button:hover{
    background-color: rgb(255, 255, 255, 0.08);
}
.post_img img{
     height: 450px;
     width: 100%;
}

.post_reaction{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.post_reaction button:hover{
background-color: transparent;
}

.post_reaction button{
    background-color: transparent;
    color: white;
    border: none;
    font: 20px;
}

.post_comment{
    padding: 30px;
    padding-top: 0px;
}

#likes{
    font-weight: bold;
}

#new_comments{
    color: lightgray;
}
#prof_img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user{
    display: flex;
    gap: 10px;
    align-items: center;
}

.sg_btn{
   background-color: transparent;
    border: none;
    color: dodgerblue;
    font-size: 15px;
}

.sg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestions{
    position: sticky;
    top: 10px;
}


