.tables, th, td {
    border: 1px solid;
    width: 50%;
    place-items: center;
    margin-left: 27%;
    background-color: rgb(235, 143, 192);
    place-items: center;
    border-radius: 50px;
    font-family: fantasy;
    color: rgb(114, 99, 59);
    text-align: center;
} 




  .title_desc{
   place-items: center;
   

  
  }


  .title_desc>img{
    width: 96vw;
    height: 170px;
    display: grid;
    place-items: center;
  }

.headings{
  text-align: center;
  color: rgb(173, 179, 123); 
  font-family: fantasy;
  font-size: 40px;
  font-style: italic; 
}

#title{
    text-align: center;
    color: rgb(173, 179, 123); 
    font-family: fantasy;
    font-size: 60px;
    font-style: italic;
    
}

